---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-etos-eiffel-community-github-io-v1alpha1-environmentrequest
  failurePolicy: Fail
  name: menvironmentrequest-v1alpha1.kb.io
  rules:
  - apiGroups:
    - etos.eiffel-community.github.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - environmentrequests
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-etos-eiffel-community-github-io-v1alpha1-provider
  failurePolicy: Fail
  name: mprovider-v1alpha1.kb.io
  rules:
  - apiGroups:
    - etos.eiffel-community.github.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - providers
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-etos-eiffel-community-github-io-v1alpha1-testrun
  failurePolicy: Fail
  name: mtestrun-v1alpha1.kb.io
  rules:
  - apiGroups:
    - etos.eiffel-community.github.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - testruns
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-etos-eiffel-community-github-io-v1alpha2-iut
  failurePolicy: Fail
  name: miut-v1alpha2.kb.io
  rules:
  - apiGroups:
    - etos.eiffel-community.github.io
    apiVersions:
    - v1alpha2
    operations:
    - CREATE
    - UPDATE
    resources:
    - iuts
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-etos-eiffel-community-github-io-v1alpha1-provider
  failurePolicy: Fail
  name: vprovider-v1alpha1.kb.io
  rules:
  - apiGroups:
    - etos.eiffel-community.github.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - providers
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-etos-eiffel-community-github-io-v1alpha1-testrun
  failurePolicy: Fail
  name: vtestrun-v1alpha1.kb.io
  rules:
  - apiGroups:
    - etos.eiffel-community.github.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - testruns
  sideEffects: None
