apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base

images:
- name: registry.nordix.org/eiffel/etos-api
  newTag: "1.31.1"
- name: registry.nordix.org/eiffel/etos-sse
  newTag: "1.31.1"
- name: registry.nordix.org/eiffel/etos-environment-provider
  newTag: "2.2.6"
- name: registry.nordix.org/eiffel/etos-environment-provider-worker
  newTag: "2.2.6"
- name: registry.nordix.org/eiffel/etos-suite-starter
  newTag: "2.1.0"
