---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - '*'
  resources:
  - configmaps
  - deployments
  - ingresses
  - rolebindings
  - roles
  - secrets
  - serviceaccounts
  - services
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - '*'
  resources:
  - jobs
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - '*'
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs/status
  verbs:
  - get
- apiGroups:
  - etos.eiffel-community.github.io
  resources:
  - clusters
  - environmentrequests
  - environments
  - executionspaces
  - iuts
  - logarea
  - providers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - etos.eiffel-community.github.io
  resources:
  - clusters/finalizers
  - environmentrequests/finalizers
  - environments/finalizers
  - executionspaces/finalizers
  - iuts/finalizers
  - logarea/finalizers
  - providers/finalizers
  - testruns/finalizers
  verbs:
  - update
- apiGroups:
  - etos.eiffel-community.github.io
  resources:
  - clusters/status
  - environmentrequests/status
  - environments/status
  - executionspaces/status
  - iuts/status
  - logarea/status
  - providers/status
  - testruns/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - etos.eiffel-community.github.io
  resources:
  - environmentsrequests/status
  verbs:
  - get
- apiGroups:
  - etos.eiffel-community.github.io
  resources:
  - testruns
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
