apiVersion: etos.eiffel-community.github.io/v1alpha1
kind: Cluster
metadata:
  labels:
    app.kubernetes.io/name: etos
    app.kubernetes.io/managed-by: kustomize
  name: cluster-sample  # This is used by e2e test, don't change
spec:
  etos:
    config:
      encryptionKey:
        value: "ZmgcW2Qz43KNJfIuF0vYCoPneViMVyObH4GR8R9JE4g="  # This is used by e2e test, don't change
      routingKeyTag: cluster-sample-etos  # This is used by e2e test, don't change
      etosApiURL: http://cluster-sample-etos-api.etos-test.svc.cluster.local/api  # This is used by e2e test, don't change
      environmentTimeout: "60"
    suiteRunner:
      logListener:
        etosQueueName: "*.testlog"
    suiteStarter:
      eiffelQueueName: etos-suite-starter
  database:
    deploy: true
  messageBus:
    eiffel:
      deploy: true
    logs:
      deploy: true
  eventRepository:
    deploy: true
    eiffelQueueName: etos
    mongo:
      deploy: true
