apiVersion: etos.eiffel-community.github.io/v1alpha1
kind: Cluster
metadata:
  labels:
    app.kubernetes.io/name: etos
    app.kubernetes.io/managed-by: kustomize
  name: cluster-sample
spec:
  etos:
    api:
      image: "ghcr.io/eiffel-community/etos-api:672f982e"
    sse:
      image: "ghcr.io/eiffel-community/etos-sse:672f982e"
    logArea:
      image: "ghcr.io/eiffel-community/etos-logarea:672f982e"
    ingress:
      enabled: true
  database:
    deploy: true
  messageBus:
    eiffel:
      deploy: true
      queueName: "etos"
    logs:
      deploy: true
      queueName: "etos.*.log"
  eventRepository:
    deploy: true
    apiImage: ghcr.io/eiffel-community/eiffel-graphql-api:latest
    storageImage: ghcr.io/eiffel-community/eiffel-graphql-storage:latest
    mongo:
      deploy: true
    ingress:
      enabled: true
