---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: environments.etos.eiffel-community.github.io
spec:
  group: etos.eiffel-community.github.io
  names:
    kind: Environment
    listKind: EnvironmentList
    plural: environments
    singular: environment
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Active")].status
      name: Ready
      type: string
    - jsonPath: .status.conditions[?(@.type=="Active")].reason
      name: Reason
      type: string
    - jsonPath: .status.conditions[?(@.type=="Active")].message
      name: Description
      type: string
    - jsonPath: .metadata.labels.etos\.eiffel-community\.github\.io/environment-request
      name: Environment Request
      type: string
    - jsonPath: .metadata.labels.etos\.eiffel-community\.github\.io/id
      name: TestRun
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Environment is the Schema for the environments API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: EnvironmentSpec defines the desired state of Environment
            properties:
              artifact:
                pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                type: string
              context:
                pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                type: string
              deadline:
                description: |-
                  Deadline is the end time, in unix epoch, before which the environment shall have
                  been released. If not set or set to 0, there is no deadline.
                format: int64
                type: integer
              executor:
                x-kubernetes-preserve-unknown-fields: true
              iut:
                x-kubernetes-preserve-unknown-fields: true
              log_area:
                x-kubernetes-preserve-unknown-fields: true
              name:
                type: string
              priority:
                type: integer
              providers:
                description: Providers describes which providers were used to create
                  this environment
                properties:
                  executionSpace:
                    type: string
                  iut:
                    type: string
                  logArea:
                    type: string
                required:
                - executionSpace
                - iut
                - logArea
                type: object
              recipes:
                items:
                  properties:
                    environment:
                      description: TestEnvironment to run tests within.
                      type: object
                    execution:
                      description: Execution describes how to execute a testCase.
                      properties:
                        checkout:
                          items:
                            type: string
                          type: array
                        command:
                          type: string
                        environment:
                          additionalProperties:
                            type: string
                          type: object
                        execute:
                          items:
                            type: string
                          type: array
                        parameters:
                          additionalProperties:
                            type: string
                          type: object
                        testRunner:
                          type: string
                      required:
                      - checkout
                      - command
                      - environment
                      - parameters
                      - testRunner
                      type: object
                    id:
                      type: string
                    testCase:
                      description: TestCase metadata.
                      properties:
                        id:
                          type: string
                        tracker:
                          type: string
                        uri:
                          type: string
                        version:
                          type: string
                      required:
                      - id
                      type: object
                  required:
                  - environment
                  - execution
                  - id
                  - testCase
                  type: object
                type: array
              sub_suite_id:
                pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                type: string
              suite_id:
                pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                type: string
              test_runner:
                type: string
              test_suite_started_id:
                pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                type: string
            required:
            - artifact
            - context
            - executor
            - iut
            - log_area
            - name
            - priority
            - providers
            - recipes
            - sub_suite_id
            - suite_id
            - test_runner
            - test_suite_started_id
            type: object
          status:
            description: EnvironmentStatus defines the observed state of Environment
            properties:
              completionTime:
                format: date-time
                type: string
              conditions:
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              environmentReleasers:
                items:
                  description: ObjectReference contains enough information to let
                    you inspect or modify the referred object.
                  properties:
                    apiVersion:
                      description: API version of the referent.
                      type: string
                    fieldPath:
                      description: |-
                        If referring to a piece of an object instead of an entire object, this string
                        should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                        For example, if the object reference is to a container within a pod, this would take on a value like:
                        "spec.containers{name}" (where "name" refers to the name of the container that triggered
                        the event) or if no container name is specified "spec.containers[2]" (container with
                        index 2 in this pod). This syntax is chosen only to have some well-defined way of
                        referencing a part of an object.
                      type: string
                    kind:
                      description: |-
                        Kind of the referent.
                        More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                      type: string
                    name:
                      description: |-
                        Name of the referent.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      type: string
                    namespace:
                      description: |-
                        Namespace of the referent.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                      type: string
                    resourceVersion:
                      description: |-
                        Specific resourceVersion to which this reference is made, if any.
                        More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                      type: string
                    uid:
                      description: |-
                        UID of the referent.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                      type: string
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
