---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: testruns.etos.eiffel-community.github.io
spec:
  group: etos.eiffel-community.github.io
  names:
    kind: TestRun
    listKind: TestRunList
    plural: testruns
    singular: testrun
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - jsonPath: .status.conditions[?(@.type=="Environment")].reason
      name: Environment
      type: string
    - jsonPath: .status.conditions[?(@.type=="SuiteRunner")].reason
      name: Suiterunner
      type: string
    - jsonPath: .status.conditions[?(@.type=="Active")].status
      name: Active
      type: string
    - jsonPath: .status.verdict
      name: Verdict
      type: string
    - jsonPath: .status.conditions[?(@.type=="Active")].message
      name: Message
      type: string
    - jsonPath: .metadata.labels.etos\.eiffel-community\.github\.io/id
      name: ID
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: TestRun is the Schema for the testruns API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: TestRunSpec defines the desired state of TestRun
            properties:
              artifact:
                description: Artifact is the ID of the software under test. The ID
                  is a UUID, any version, and regex matches that.
                pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                type: string
              cluster:
                description: Name of the ETOS cluster to execute the testrun in.
                type: string
              environmentProvider:
                properties:
                  image:
                    type: string
                  imagePullPolicy:
                    default: IfNotPresent
                    description: PullPolicy describes a policy for if/when to pull
                      a container image
                    type: string
                type: object
              id:
                description: ID is the test suite ID for this execution. Will be generated
                  if nil. The ID is a UUID, any version, and regex matches that.
                pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                type: string
              identity:
                type: string
              logListener:
                properties:
                  image:
                    type: string
                  imagePullPolicy:
                    default: IfNotPresent
                    description: PullPolicy describes a policy for if/when to pull
                      a container image
                    type: string
                type: object
              providers:
                description: |-
                  Providers to use for test execution. These names must correspond to existing
                  Provider kinds in the namespace where a testrun is created.
                properties:
                  executionSpace:
                    type: string
                  iut:
                    type: string
                  logArea:
                    type: string
                required:
                - executionSpace
                - iut
                - logArea
                type: object
              retention:
                description: Retention describes the failure and success retentions
                  for testruns.
                properties:
                  failure:
                    type: string
                  success:
                    type: string
                type: object
              suiteRunner:
                properties:
                  image:
                    type: string
                  imagePullPolicy:
                    default: IfNotPresent
                    description: PullPolicy describes a policy for if/when to pull
                      a container image
                    type: string
                type: object
              suites:
                items:
                  description: Suite to execute.
                  properties:
                    dataset:
                      description: Dataset for this suite.
                      x-kubernetes-preserve-unknown-fields: true
                    name:
                      description: Name of the test suite.
                      type: string
                    priority:
                      default: 1
                      description: Priority to execute the test suite.
                      type: integer
                    tests:
                      description: Tests to execute as part of this suite.
                      items:
                        properties:
                          environment:
                            description: TestEnvironment to run tests within.
                            type: object
                          execution:
                            description: Execution describes how to execute a testCase.
                            properties:
                              checkout:
                                items:
                                  type: string
                                type: array
                              command:
                                type: string
                              environment:
                                additionalProperties:
                                  type: string
                                type: object
                              execute:
                                items:
                                  type: string
                                type: array
                              parameters:
                                additionalProperties:
                                  type: string
                                type: object
                              testRunner:
                                type: string
                            required:
                            - checkout
                            - command
                            - environment
                            - parameters
                            - testRunner
                            type: object
                          id:
                            type: string
                          testCase:
                            description: TestCase metadata.
                            properties:
                              id:
                                type: string
                              tracker:
                                type: string
                              uri:
                                type: string
                              version:
                                type: string
                            required:
                            - id
                            type: object
                        required:
                        - environment
                        - execution
                        - id
                        - testCase
                        type: object
                      type: array
                  required:
                  - dataset
                  - name
                  - priority
                  - tests
                  type: object
                type: array
              testRunner:
                properties:
                  version:
                    type: string
                required:
                - version
                type: object
            required:
            - artifact
            - identity
            - providers
            - suites
            type: object
          status:
            description: TestRunStatus defines the observed state of TestRun
            properties:
              completionTime:
                format: date-time
                type: string
              conditions:
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              environmentRequests:
                items:
                  description: ObjectReference contains enough information to let
                    you inspect or modify the referred object.
                  properties:
                    apiVersion:
                      description: API version of the referent.
                      type: string
                    fieldPath:
                      description: |-
                        If referring to a piece of an object instead of an entire object, this string
                        should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                        For example, if the object reference is to a container within a pod, this would take on a value like:
                        "spec.containers{name}" (where "name" refers to the name of the container that triggered
                        the event) or if no container name is specified "spec.containers[2]" (container with
                        index 2 in this pod). This syntax is chosen only to have some well-defined way of
                        referencing a part of an object.
                      type: string
                    kind:
                      description: |-
                        Kind of the referent.
                        More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                      type: string
                    name:
                      description: |-
                        Name of the referent.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      type: string
                    namespace:
                      description: |-
                        Namespace of the referent.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                      type: string
                    resourceVersion:
                      description: |-
                        Specific resourceVersion to which this reference is made, if any.
                        More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                      type: string
                    uid:
                      description: |-
                        UID of the referent.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                      type: string
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
              startTime:
                format: date-time
                type: string
              suiteRunners:
                items:
                  description: ObjectReference contains enough information to let
                    you inspect or modify the referred object.
                  properties:
                    apiVersion:
                      description: API version of the referent.
                      type: string
                    fieldPath:
                      description: |-
                        If referring to a piece of an object instead of an entire object, this string
                        should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                        For example, if the object reference is to a container within a pod, this would take on a value like:
                        "spec.containers{name}" (where "name" refers to the name of the container that triggered
                        the event) or if no container name is specified "spec.containers[2]" (container with
                        index 2 in this pod). This syntax is chosen only to have some well-defined way of
                        referencing a part of an object.
                      type: string
                    kind:
                      description: |-
                        Kind of the referent.
                        More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                      type: string
                    name:
                      description: |-
                        Name of the referent.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      type: string
                    namespace:
                      description: |-
                        Namespace of the referent.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                      type: string
                    resourceVersion:
                      description: |-
                        Specific resourceVersion to which this reference is made, if any.
                        More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                      type: string
                    uid:
                      description: |-
                        UID of the referent.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                      type: string
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
              verdict:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
